.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    margin-bottom: -1px;
    border-radius: 0;
}

#sidebar .nav-link:hover {
    background-color: #1d77ff;
    border-radius: 10px;
}

#sidebar .active {
    background-color: #0054d1;
    border-radius: 10px;
}